@mixin glass {
  background-color: var(--color-glass);
  backdrop-filter: blur(var(--glass-blur));
}

@mixin glass-dark {
  background-color: var(--color-glass-dark);
  backdrop-filter: blur(var(--glass-blur));
}
