@import './assets/fonts/inter/inter.css';
@import './assets/reset.css';
@import './assets/utilities.css';

@font-face {
  font-style: normal;
  font-weight: normal;
  src:
    url('./assets/fonts/vevey-positive-webfont.woff2') format('woff2'),
    url('./assets/fonts/vevey-positive-webfont.woff') format('woff');
  font-family: 'Vevey Positive';
}

:root {
  --color-background: #616161;
  --color-active: #d885ff;
  --color-disabled: #cecece;
  --color-mapping: #00ce78;
  --color-modulation: #ffc300;
  --color-parts: #6171ff;
  --color-text: white;
  --color-module-bg: #929292;

  --color-glass: rgb(0, 0, 0, 0.16);
  --color-glass-solid: #515151;
  --color-glass-dark: rgb(0, 0, 0, 0.45);
  --color-glass-dark-solid: #353535;
  --color-connection: white;

  --color-log-black: black;
  --color-log-white: white;
  --color-log-gray: #7b7b7b;
  --color-log-red: red;
  --color-log-green: rgb(32 203 80);
  --color-log-blue: blue;
  --color-log-yellow: yellow;
  --color-log-magenta: magenta;
  --color-log-cyan: cyan;

  --color-log-info: var(--color-log-white);
  --color-log-warn: var(--color-log-yellow);
  --color-log-error: var(--color-log-red);
  --color-log-success: var(--color-log-green);

  --color-log-key: var(--color-log-green);
  --color-log-specialKey: var(--color-log-cyan);
  --color-log-complexType: #ff4cf5;
  --color-log-number: tomato;
  --color-log-boolean: rgb(81 130 255);
  --color-log-string: var(--color-log-yellow);  

  --glass-blur: 20px;

  --radius-xs: 4px;
  --radius-s: 7px;

  --transition-duration-connection: 100ms;

  --z-panel: 1;
  --z-menu: 2;
  --z-dialog: 3;
}

body {
  overflow: hidden;
}

#app {
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 200;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 1px;
}

*:focus-visible {
  outline: 2px solid blue;
}
